@charset "utf-8";

@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@400;700&display=swap');

@import "../bulma/sass/utilities/initial-variables.sass";

$cyan: #009ee3;
$cyan-dark: #0483b9;

// Global variables
$family-sans-serif: "Comfortaa", sans-serif;
$primary: $cyan;

// Component variables
$input-shadow: none;

// Navbar
$navbar-item-img-max-height: 4rem;

@import "../bulma/bulma.sass";

.navbar {
  padding: 1rem;

  .navbar-item {
    margin: 1rem 0;

    @include touch {
      margin: 0;
    }
  }

  .navbar-dropdown {
    .navbar-item {
      margin: 0;
    }
  }

  .navbar-brand {
    .navbar-item {
      padding: 0.625rem;
      margin: 0;
    }

    @include touch {
      img {
        max-height: 2rem;
        max-width: 2rem;
      }
    }
  }
}

.list-clean {
  list-style: none !important;
  margin: 0 !important;
}
