{% extends 'base.html' %}

{% load wagtailcore_tags wagtailimages_tags %}

{% block body_class %}template-blogpage{% endblock %}

{% block content %}
    <div class="container is-max-desktop">
        <h1 class="title is-1">{{ page.title }}</h1>
        <p class="subtitle">{{ page.date }}</p>

        <div class="block">
            {% with categories=page.categories.all %}
                {% if categories %}
                    <p class="mb-1">Gepostet in:</p>
                    <ul class="ml-3">
                        {% for category in categories %}
                            <li style="display: inline">
                                {% image category.icon fill-32x32 style="vertical-align: middle" %}
                                {{ category.name }}
                            </li>
                        {% endfor %}
                    </ul>
                {% endif %}
            {% endwith %}
        </div>

        <div class="block">
            <p>{{ page.intro }}</p>
        </div>

        <div class="content">
            {{ page.body|richtext }}
        </div>

        {% for item in page.gallery_images.all %}
            <div class="block">
                <figure class="image">
                    {% image item.image fill-960x480 %}
                </figure>
                <p class="has-text-centered">{{ item.caption }}</p>
            </div>
        {% endfor %}

        {% if page.tags.all %}
            <div class="tags">
                {% for tag in page.tags.all %}
                    <span class="tag">{{ tag }}</span>
                {% endfor %}
            </div>
        {% endif %}

        <a class="button" href="{{ page.get_parent.url }}">Zur Übersicht</a>
    </div>
{% endblock %}
