{% load static %}

<nav class="navbar is-primary" role="navigation" aria-label="main navigation">
    <div class="container">
        <div class="navbar-brand">
            <a class="navbar-item" href="https://www.farafmb.de">
                <img src="{% static 'img/logo_128x128.png' %}" width="64" height="64">
            </a>

            <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="navbarMain">
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
            </a>
        </div>

        <div id="navbarMain" class="navbar-menu">
            <div class="navbar-end">
                <a class="navbar-item">
                    Blog
                </a>

                <a class="navbar-item">
                    Office Hours
                </a>

                <a class="navbar-item">
                    Jobs
                </a>

                <div class="navbar-item has-dropdown is-hoverable">
                    <a class="navbar-link">
                        About us
                    </a>

                    <div class="navbar-dropdown is-right">
                        <a class="navbar-item">
                            Who we are
                        </a>

                        <a class="navbar-item">
                            Our Team
                        </a>
                    </div>
                </div>

                <div class="navbar-item has-dropdown is-hoverable">
                    <a class="navbar-link">
                        More
                    </a>

                    <div class="navbar-dropdown is-right">
                        <a class="navbar-item">
                            Contact
                        </a>

                        <a class="navbar-item">
                            Documents
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</nav>
