{% load static navigation_tags %}

<nav class="navbar is-primary mb-6" role="navigation" aria-label="main navigation">
    <div class="container">
        <div class="navbar-brand">
            <a class="navbar-item" href="/">
                <img src="{% static 'img/logo_128x128.png' %}" width="64" height="64">
            </a>

            <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="navbarMain">
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
            </a>
        </div>

        <div id="navbarMain" class="navbar-menu">
            <div class="navbar-end">
                {% list_pages as pages %}
                {% for page in pages %}
                    <a class="navbar-item" href="{{ page.url }}">
                        {{ page.title }}
                    </a>
                {% endfor %}
            </div>
        </div>
    </div>
</nav>
